.card {
  background-color: var(--dark-color);

  width: 100%;
  min-height: 10rem;

  border-radius: 0.5rem;
  box-shadow: var(--shadow-box-light);

  transition: 0.5s;

  padding: 1rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

.card:hover {
  box-shadow: var(--shadow-box-strong);
}

.cardHead {
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.cardBody {
  display: grid;
  gap: 1rem;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.editTodoButton {
  background-color: transparent;
  border: none;
  opacity: 0;
  transition: 0.5s;

  border-radius: 50%;
  padding: 0.4rem;

  cursor: pointer;
}

.editTodoButton:hover {
  background-color: var(--light-color);
}

.card:hover .editTodoButton {
  opacity: 1;
}

.exluirTodoButton {
  font-size: var(--font-size-medium);
  font-weight: bold;

  background-color: transparent;
  color: var(--light-color);

  border-radius: 50%;
  border: solid var(--red-color) 2px;
  padding: 0.5rem;

  cursor: pointer;

  transition: 0.5s;
  opacity: 0;
}

.exluirTodoButton:hover {
  background-color: var(--red-color);
}

.card:hover .exluirTodoButton {
  opacity: 1;
}

input {
  padding: 0.8rem;

  border: none;
  border-bottom: solid 1px white;
  background: transparent;

  font-size: var(--font-size-medium);
  color: var(--light-color);
}

select {
  padding: 0.5rem;
  border: none;

  border: none;
  border-bottom: solid 1px white;

  font-size: var(--font-size-medium);
  color: var(--light-color);
  background: transparent;
}

select option {
  background-color: var(--dark-color);
}

textarea {
  height: 5rem;
  overflow: scroll;
  background: transparent;
  padding: 1rem;
  border: none;
  color: var(--light-color);

  border: none;
  border-bottom: solid 1px white;

  font-size: var(--font-size-medium);
}

select:disabled,
input:disabled,
textarea:disabled {
  border-bottom: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

span {
  color: var(--light-color);
  font-size: var(--font-size-small);
  opacity: 0.7;
}
