.card {
  background-color: var(--dark-color);

  width: 100%;
  min-height: 10rem;

  border-radius: 0.5rem;
  box-shadow: var(--shadow-box-light);

  transition: 0.5s;

  padding: 1rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

.card:hover {
  box-shadow: var(--shadow-box-strong);
}

.cardHead {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.cardBody {
  display: grid;
  gap: 1rem;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.openModalButton {
  transition: 0.5s;
  opacity: 0;

  border-radius: 0.2rem;
  border: none;
  cursor: pointer;

  padding: 0.2rem 0.5rem;
  width: 4rem;
}

.exluirTodoButton {
  font-size: var(--font-size-medium);
  font-weight: bold;

  background-color: var(--red-color);
  color: var(--light-color);

  border-radius: 0.2rem;
  border: none;
  padding: 0.2rem 0.5rem;

  cursor: pointer;

  transition: 0.5s;
  opacity: 0;
}

.card:hover .openModalButton {
  opacity: 1;
}

.card:hover .exluirTodoButton {
  opacity: 1;
}

input {
  padding: 0.8rem;
  border: none;
  background: transparent;

  font-size: var(--font-size-medium);
  color: var(--light-color);
}

select {
  padding: 0.5rem;
  border: none;

  font-size: var(--font-size-medium);
  color: var(--light-color);
  background: transparent;
}

select option {
  background-color: var(--dark-color);
}

textarea {
  height: 5rem;
  overflow: scroll;
  background: transparent;
  padding: 1rem;
  border: none;
  color: var(--light-color);
}

textarea::-webkit-scrollbar {
  display: none;
}

span {
  color: var(--light-color);
  font-size: var(--font-size-small);
  opacity: 0.7;
}
