:root {
  --light-color: #fff;
  --dark-color: #282828;
  --red-color: #800020;

  --shadow-box-light: 0.1rem 0.1rem 0.2rem var(--dark-color);
  --shadow-box-medium: 0.2rem 0.3rem 0.5rem var(--dark-color);
  --shadow-box-strong: 0.3rem 0.5rem 0.8rem var(--dark-color);

  --shadow-text-light: 0.063rem 0.063rem 0.063rem var(--dark-color);
  --shadow-text-medium: 0.063rem 0.125rem 0.125rem var(--dark-color);
  --shadow-text-strong: 0.063rem 0.188rem 0.188rem var(--dark-color);

  --font-size-xxsmall: 0.563rem;
  --font-size-xsmall: 0.625rem;
  --font-size-small: 0.813rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.225rem;
  --font-size-xlarge: 1.5rem;
  --font-size-xxlarge: 2rem;
  --font-size-title: 4rem;
  --font-size-subtitle: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: linear-gradient(45deg, var(--light-color), var(--dark-color));
}

h1 {
  font-size: var(--font-size-large);
}
